:root {
  --border-color: #d9d9d9;
  --passed-status-color: #008000;
  --failed-status-color: #e01e37;
  --skipped-status-color: #C0C0C0;
  --known-failures-status-color: #FFC300;
  --passed-with-known-failure-color: #73e2a7;
}

html {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
  font-size: small;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.report-title {
  display: block;
  color: #03256c;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

.logo {
  height: 30px;
  width: 60px;
  float: left;
  border-radius: 10px;
}

.version {
  font-size: smaller;
  color: dimgray;
  font-weight: lighter;
}

.over-all-highlight-section {
  margin-right: 10px;
}

.over-all-highlight {
  height: 30px;
  color: white;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  border-radius: 8px;
  padding-top: 5px;
}

.project-info-header {
  font-weight: bold;
  color: #1d3557;
  text-align: left;
  padding-bottom: 8px;
  padding-top: 5px;
  margin-top: 10px;
}




/* new project details section */
.project-details-container {
  display: block;
  padding: 20px;
  margin-top: 0px;
  margin-right: 10px;
  background-color: #eaecf0;
  border-radius: 8px;
}

.project-info-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  column-gap: 30px;
}

.info-section {
  display: grid;
  grid-template-columns: 120px 5px 1fr;
  row-gap: 10px;
  column-gap: 10px;
  align-items: start;
  max-width: 33%;
}

.project-info-element {
  max-height: 30px;
  padding: 5px;
}

.project-info-key {
  font-weight: 700;
  color: #0b3954;
  max-width: 100%;
}

.project-info-value {
  color: #8d99ae;
  min-width: 200px;
  max-width: 100%;
  max-height: fit-content;
  overflow: visible;
}

.description-section {
  background-color: white;
  padding: 15px;
  margin-top: 5px;
  border-radius: 8px;
}

.project-desc-header {
  margin-bottom: 10px;
}

.project-desc-value {
  max-height: 150px;
  overflow: scroll;
}

.chart-section-header {
  margin-top: 10px;
  font-weight: bold;
  color: #1d3557;
  text-align: left;
  padding-bottom: 8px;
  padding-top: 5px;
}

.chart-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #eaecf0;
  padding: 20px;
  margin-right: 10px;
  border-radius: 8px;
}

.chart-section-element {
  flex: 1;
  border: solid;
  border-color: var(--border-color);
  border-width: 1px;
  box-shadow: 0px 2px 15px 2px #efeeee;
  border-radius: 8px;
  padding-top: 10px;
  background-color: white;
}

.pie-chart {
  padding: 0px;
  height: 200px;
}

.stats-tables {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
  border-radius: 8px;
}

.overall-stats-header,
.feature-stats-header {
  font-weight: bold;
  color: #1d3557;
  text-align: left;
  padding-bottom: 8px;
  padding-top: 5px;
}

.overall-stats-section,
.feature-stats-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
}

.complete-result-section-header {
  font-weight: bold;
  color: #1d3557;
  text-align: left;
  padding-bottom: 0px;
  padding-top: 5px;
  margin-top: 15px;
}

.complete-result-section-container {
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;
  background-color: #eaecf0;
  border-radius: 8px;
}

.complete-result-section {
  border-color: var(--border-color);
  border-width: 1px;
  margin-top: 10px;
  box-shadow: 2px 2px 10px 2px #9DB2BF;
  border-radius: 8px;
  border-right: 0.5px solid var(--border-color);
  min-height: 700px;
}

.feature-column,
.scenario-and-step-results-column {
  height: 20px;
  background-color: #6B728E;
  color: white;
  /* margin: 8px; */
  padding-top: 5px;
  padding-bottom: 3px;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  ;
}

.scenario-and-step-results-column {
  margin-right: 10px;
}

section {
  display: grid;
  grid-template-columns: 30% 70%;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;

}

nav {
  flex: auto;
  border: 0.5px solid var(--border-color);
  border-top: none;
  margin-top: 0px;
  margin-right: 0px;
  line-height: 40px;
  background-color: white;
  min-height: 650px;
  border-radius: 8px;
}

nav ul {
  list-style-type: none;
  padding-top: 0px;
  padding-left: 0px;
  margin: 0px;
  border-bottom: none;
  border-top: none;
}

nav ul li {
  padding-top: 0px;
  border-bottom: 0.01px solid var(--border-color);
  border-left: none;
  border-right: none;
}

nav ul li:first-child,
nav ul li:first-child a {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

nav ul li span {
  color: #adb5bd;
  font-size: xx-small;
  border-left: none;
  border-right: none;
}

nav ul a {
  display: block;
  text-decoration: none;
  line-height: 30px;
  padding-left: 5px;
  font-size: small;
  color: black;
  cursor: pointer;
  border-left: none;
  border-right: none;
}

.side-nav-item {
  display: grid;
  grid-template-columns: 1fr 15% 5%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: first baseline;
  border-left: none;
  border-right: none;
}

.status-icon {
  font-size: 15px;
  padding-right: 10px;
  color: white;
}

.side-nav-item-active {
  border: 0.3px solid var(--border-color);
  background-color: #03045e;
  color: white;
}

.side-nav-item-active a {
  background-color: #03045e;
  color: white;
}

.feature-specific-sc-container {
  width: inherit;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;
  border-left: none;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
  min-height: 650px;
  background-color: white;
  border-top-right-radius: 15px;
}

.displayOnClick {
  display: none;
}

.scenario-item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.1px solid var(--border-color);
  padding: 10px;
  box-shadow: 2px 2px 15px 2px #e3e2e2;
}

.scenario-item {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  border-right: 0.1px solid var(--border-color);
  border-left: 0.1px solid var(--border-color);
  border-bottom: 0.1px solid var(--border-color);
}

.scenario-name {
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  border-bottom: 0.1px solid var(--border-color);
  border-top: 0.1px solid var(--border-color);
  cursor: pointer;
}

.scenario-name:hover,
.step-name:hover {
  background-color: #DDE6ED;
}

.scenario-hook-section {
  height: fit-content;
  display: grid;
  grid-template-columns: 20% 1fr;
  padding-left: 10px;
  border: 0.1px solid var(--border-color);
  cursor: pointer;
  background-color: #f4acb7;
  color: white;
  line-height: 19px;
  font-size: small;
}

.scenario-hook-error-value {
  line-height: 18px;
  font-size: smaller;
  max-height: fit-content;
  overflow: scroll;
  resize: vertical;
}

.scenario-expand-icon {
  margin-right: 20px;
}

.step-items {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 10px;
  border: 0.1px solid var(--border-color);
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 2px 2px 15px 2px #f0eded;
}

.step-item {
  line-height: 40px;
  padding-left: 0px;
  border: 0.1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 15px 2px #e3e2e2;
}

.step-name {
  min-height: 40px;
  border-bottom: 0.1px solid var(--border-color);
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  cursor: pointer;
}

.step-hook-error-section {
  flex: 1;
  display: grid;
  grid-template-columns: 20% 1fr;
  background-color: #f4acb7;
  color: white;
  line-height: 18px;
  height: fit-content;
}

.step-hook-error-value {
  line-height: 18px;
  font-size: small;
  max-height: fit-content;
  overflow: scroll;
  resize: vertical;
}

.step-info-section {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 0px;
  border: 0.1px solid var(--border-color);
}

.step-error {
  background-color: #f4acb7;
  color: white;
  line-height: 18px;
  font-size: small;
  display: block;
  padding: 10px;
  max-height: fit-content;
  overflow: scroll;
  resize: vertical;
  cursor: text
}

.embedding-name {
  background-color: #f5edf0;
  padding-left: 20px;
}

.embedding-src {
  padding-left: 40px;
  color: #2660a4;
}

img {
  max-height: 100px;
  max-width: 150px;
  cursor: pointer;
}



/* New Grid.Js */



#overall-stats-data-output-container,
#feature-stats-data-output-container {
  background-color: #eaecf0;
  border-radius: 8px;
  padding: 20px;
}

#overall-stats-data-output-container table tbody tr td {
  text-align: center !important;
}

#feature-stats-data-output-container table tbody tr td:first-child {
  text-align: left !important;
  word-break: break-all !important;
  word-wrap: break-word !important;
  width: 30%;
}

#feature-stats-data-output-container table tbody tr td:nth-child(11) {
  text-align: left !important;
}

.gridjs-sort {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA9UlEQVR4nOWWvQrCUAyF+wKCIDgItkmLCC4OTi5OTq6+g68jqDd18IlcOrg4ODg4CILSREUnpYoKgvjXBsQDZ/5uwklyLevvhcTNyIk2AknqQLwDw3vXXzcSgTj9sAokgiSHs3kLPa7FCgF/XUaS5Q0iJwNJ6NGmEgvE9cMCGJ7fQ/ACM7KwfS59BfHMNo/E00cQvNjwzO6s8LNKSLJoZPwUQtfKJvnuJvcWxGmv0kgcvArBK4xHuW6YeQlSHCxSQDx8F4K3NAbRQ5+CohQBcesbe3El8bek1rqiVhjU4q06sKorSHWpqp4J1cOnespVPyfWL+gInQoGedSzUpkAAAAASUVORK5CYII=) !important;
  opacity: 1 !important;
}

.passed-status {
  color: #008000;
  text-align: center;
  font-weight: bold;
}

.failed-status {
  color: #e01e37;
  text-align: center;
  font-weight: bold;
}

.skipped-status {
  color: #C0C0C0;
  text-align: center;
  font-weight: bold;
}

.known-failures-status {
  color: #FFC300;
  text-align: center;
  font-weight: bold;
}

.passed-with-known-failures-status {
  color: #73e2a7;
  text-align: center;
  font-weight: bold;
}

/* Defect Details */
.defect-details-section-header {
  font-weight: bold;
  color: #1d3557;
  text-align: left;
  padding-bottom: 8px;
  padding-top: 5px;
  margin-top: 20px;
}

.defect-details-section {
  background-color: #eaecf0;
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  padding: 20px;
  border-radius: 8px;
}

.defect-category {
  height: 30px;
  box-shadow: 0px 2px 15px 2px #efeeee;
  background-color: white;
  font-weight: bold;
  border-radius: 8px;
  text-align: left;
  padding-top: 15px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 2px 2px 15px 2px #dfdede;
}

.deferred-failures {
  color: #ff758f;
  font-weight: bolder;
}

.new-failures {
  color: #d90429;
  font-weight: bolder;
}

.deferred-failures-list,
.new-failures-list {
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
  flex-direction: column;
  row-gap: 5px;

}

.deferred-defect-item-header,
.new-defect-item-header {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr  3fr;
  background-color: rgb(200, 199, 199);
  border: 0.5px solid var(--border-color);
  font-weight: bolder;
}

.deferred-defect-item-header div,
.new-defect-item-header div {
  height: 30px;
  padding-top: 12px;
  padding-left: 15px;
  border: 0.5px solid var(--border-color);
}

.deferred-defect-id-header {
  height: 30px;
  background-color: whitesmoke;
  padding-top: 12px;
  padding-left: 10px;
}

.deferred-defect-item-row,
.new-defect-item-row {
  height: fit-content;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr 3fr;
  background-color: white;
}

.deferred-defect-item-row div,
.new-defect-item-row div {
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0.5px solid var(--border-color);
  word-break: break-all;
}

.defect-feature-name-column {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.defect-feature-name-column div {
  border: none;
  margin-right: 5px;
  padding: 0px;
  width: 20px;
  height: inherit;
}

.no-defects-found {
  height: 30px;
  background-color: white;
  padding-top: 12px;
  padding-left: 20px;
}